<br/><br/>
<div class="container">
  <h3>Looks like you're new<br/> User here</h3>
<h5>Sign up User with your details <br/>to get started</h5>
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)"><br/>
    <div>
      <label for="name" class="form-label">Enter Full Name :</label>
      <input class="form-control" type="text" ngModel name="name" required/>

      <label for="email" class="form-label">Email Id :</label>
      <input class="form-control" type="email" ngModel name="email" required/>

      <label for="contact" class="form-label">Contact :</label>
      <input class="form-control" type="contact" ngModel name="contact" required/>

      <label for="address" class="form-label">Address :</label>
      <input class="form-control" type="address" ngModel name="address" required/><br/>
      

      <label for="password" class="form-label">Password :</label>
      <input class="form-control" type="password" ngModel name="password" required/><br/>

    <button class="btn btn-warning form-control" type="submit"    [disabled]="!registerForm.valid"><b><u> USER SIGNUP</u></b></button>&nbsp;
    </div>
  </form>

</div>


