<h4>Showing products with fast delivery  See all <br/>
  products, across price ranges
  </h4>
<div class="staples-group">
    <div class="card top-n">
        <img src="\assets\E-commerce Project images\bonvita.webp" height="90px" width="125px">
       Bonvita 170₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
      <!-------->
      <div class="card top-n">
        <img src="\assets\E-commerce Project images\snacks.webp" height="90px" width="125px">
    Snacks 400₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
<!----------------->

<div class="card top-n">
    <img src="\assets\E-commerce Project images\pasta.jpg" height="90px" width="150px">
  Pasta 30₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!------------------>
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\maggi.jpg" height="90px" width="150px">
    Maggi 65₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!--------------------->
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\oats.avif"height="90px" width="150px">
Masala Otas 170₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!-------------------->
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\butter.webp" height="90px" width="150px">
    Peanut Butter 190₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div><hr/>&nbsp;
</div>

