<h4>Showing products with fast delivery  See all <br/>
  products, across price ranges
  </h4>
<div class="staples-group">
    <div class="card top-n">
        <img src="\assets\E-commerce Project images\bonvita.webp" height="90px" width="125px">
       Bonvita 170₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
      <!-------->
      <div class="card top-n">
        <img src="\assets\E-commerce Project images\snacks.webp" height="90px" width="125px">
    Snacks 400₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
<!----------------->

<div class="card top-n">
    <img src="\assets\E-commerce Project images\pasta.jpg" height="90px" width="150px">
  Pasta 30₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!------------------>
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\maggi.jpg" height="90px" width="150px">
    Maggi 65₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!--------------------->
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\oats.avif"height="90px" width="150px">
Masala Otas 170₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!-------------------->
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\butter.webp" height="90px" width="150px">
    Peanut Butter 190₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div><hr/>&nbsp;
</div>
<!-------------------------2--------------------------------->
<div class="staples-group">
    <div class="card top-n">
        <img src="\assets\E-commerce Project images\vim.jpg" height="90px" width="125px">
 Vim Bar 60₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
      <!-------->
      <div class="card top-n">
        <img src="\assets\E-commerce Project images\rin.jpg" height="90px" width="125px">
 Rin Bar 70₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
<!----------------->

<div class="card top-n">
    <img src="\assets\E-commerce Project images\Wheel.jpg" height="90px" width="150px">
  Weel Powder 130₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!------------------>
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\ghadi.jpg" height="90px" width="150px">
    Ghadi Powder 85₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!--------------------->
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\odonil.webp"height="90px" width="150px">
Odonil Box 80₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!-------------------->
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\comfert.jpg" height="90px" width="150px">
    Comfort Liquid 90₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div><hr/>&nbsp;
</div>

<!-------------------------3--------------------------------->
<div class="staples-group">
    <div class="card top-n">
        <img src="\assets\E-commerce Project images\dried-fruits.jpg" height="90px" width="125px">
 Dry Fruits 260₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
      <!-------->
      <div class="card top-n">
        <img src="\assets\E-commerce Project images\oil.jpg" height="90px" width="125px">
Gemini oil 870₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
<!----------------->

<div class="card top-n">
    <img src="\assets\E-commerce Project images\paste.jpg" height="90px" width="150px">
Colgate 50₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!------------------>
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\soap.jpg" height="90px" width="150px">
 Bath Soap 85₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!--------------------->
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\Wheat-Aata.jpg" height="90px" width="150px">
Chakki Aata 380₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!-------------------->
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\mix-dal.webp" height="90px" width="150px">
   Mix Dal 190₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div><hr/>&nbsp;
</div>


