
<br/><br/>
<div *ngIf="!showLogin" class="container">
  <h3>Looks like you're new<br/> User here</h3>
<h5>Sign up User with your details <br/>to get started</h5>
<a style="color: blue; font-size: large;" (click)="openloginUser()" ><b><u>Already SignUp User ?</u></b></a>
  <form #userSignupForm="ngForm"  (ngSubmit)="userSignup(userSignupForm)"><br/>
    <div>
      <label for="username" class="form-label">Enter Username :</label>
      <input class="form-control" type="text" ngModel  id ="username"  name="username" required/>

      <label for="email" class="form-label">Email Id :</label>
      <input class="form-control" type="email" ngModel  id="email" name="email" required/>

      <label for="contact" class="form-label">Contact :</label>
      <input class="form-control" type="tel" id="contact" ngModel name="contact" required/>

      <label for="address" class="form-label">Address :</label>
      <input class="form-control" type="address" id="address" ngModel name="address" required/><br/>
      

      <label for="password" class="form-label">Password :</label>
      <input class="form-control" type="password" id="password" ngModel name="password" required/><br/>

      <label for="confirmpassword" class="form-label"> Confirm Password :</label>
      <input class="form-control" type="password" id="confirmpassword" ngModel name="confirmpassword" required/><br/>

    <button class="btn btn-warning form-control" type="submit" [disabled]="!userSignupForm.valid"><b><u> USER SIGNUP</u></b></button>&nbsp;
    </div>
  </form>

</div>
<!-------sellerLogin------>
<div *ngIf="showLogin" class="container"><br/>
    <h3>Login User<br/></h3>
    <h4>Get access to your Orders,</h4>
    <h4>Wishlist & Recommendation</h4>
    <form #userLoginForm="ngForm">

      <label for="email"   class="form-label">Email ID:</label>
      <input type="email" ngModel class="form-control" name="email" />

      <label for="password" class="form-label">Password:</label>
      <input type="password" ngModel class="form-control" name="password" ><br/>
      <button type="submit" class="btn btn-warning form-control"><b><u> USER LOGIN</u></b></button>&nbsp;&nbsp;
      <a class="new"  (click)=" opensignupUser()" ><b><u>New User SignUp ?</u></b></a><br/><br/>
      </form>
    </div>