<br/>
<div class="container">
    <div class="staples-group padding">
        <div class="card1">
     <img src="\assets\E-commerce Project images\img.jpg" width="240px" height="300px">
    </div>
<div class="card">
    <h6>realme GT 7 Pro (Mars Orange,12GB+256GB) | India's First<br/> Snapdragon 8 Elite Processor | RealWorld Eco² OLED Plus Display...</h6>
<p><span><b style="font-size:x-large;">₹59,999</b></span>  M.R.P.:&nbsp;<s> ₹69,999</s>&nbsp;<span>(14% off)</span></p>
<p>Pre-Book Now for - ₹999</p>
<ul style="font-size: small;">
    <li>Qualcomm Snapdragon 8 Elite</li>
    <li> Underwater Photography</li>
    <li>  120 watt fast charging</li>
<button class="btn btn-warning btn">Add to Cart</button>
</ul> 
</div>
</div><hr/>
<!------------------------------------------------------------>
<div class="staples-group padding">
    <div class="card1">
        <img src="\assets\E-commerce Project images\phone2.jpg" width="240px" height="300px">
</div>
<div class="card">
<h6>realme NARZO N61 (Voyage Blue,4GB RAM+64GB Storage) 90Hz <br/>Eye Comfort Display | IP54 Dust & Water Resistance | 48-Month...</h6>
<p><span><b style="font-size:x-large;">₹7,498</b></span>   M.R.P:&nbsp;<s>  ₹8,999</s>&nbsp;<span> (17% off)</span></p>

<p>FREE delivery Fri, 29 Nov</p>
<ul style="font-size: small;">

<button class="btn btn-warning btn">Add to Cart</button>
</ul> 
</div>
</div><hr/>
<!------------->
<div class="staples-group padding">
    <div class="card1">
        <img src="\assets\E-commerce Project images\phone3.jpg" width="240px" height="300px">
</div>
<div class="card">
<h6>Apple iPhone 14 Pro (128 GB) - Space Black...</h6>
<p><span><b style="font-size:x-large;"> ₹45,490</b></span> M.R.P.:&nbsp;<s> ₹59,600</s>&nbsp;<span> (24% off)</span></p>

<p>FREE delivery Fri, 29 Nov</p>
<ul style="font-size: small;">

<button class="btn btn-warning btn">Add to Cart</button>
</ul> 
</div>
</div><hr/>
<!---------------------------->
<div class="staples-group padding">
    <div class="card1">
        <img src="\assets\E-commerce Project images\phone4.jpg" width="240px" height="300px">
</div>
<div class="card">
<h6>Motorola G85 5G (Viva Magenta, 8GB RAM + 128GB Storage)...</h6>
<p><span><b style="font-size:x-large;"> ₹18,994</b></span> M.R.P.:&nbsp;<s> ₹20,999</s>&nbsp;<span> (10% off)</span></p>

<p>FREE delivery Fri, 29 Nov</p>
<ul style="font-size: small;">

<button class="btn btn-warning btn">Add to Cart</button>
</ul> 
</div>
</div>
</div>
