<br/>
<h4><u>Seller Update Product</u> </h4>&nbsp;
<div class="container1">
<form #updateForm="ngForm" (ngSubmit)="updatePro(updateForm)">
<input class="form-input" type="text" name="productName" placeholder="Enter Product Name"  ngModel="{{productData?.productName}}"><br/><br/>
<input class="form-input" type="text" name="category" placeholder="Enter  Product Category"   ngModel="{{productData?.category}}"><br/><br/>
<input class="form-input" type="color" name="color1" placeholder="Enter  Product Color"   ngModel="{{productData?.color1}}"><br/><br/>
<input class="form-input" type="color" name="color2" placeholder="Enter  Product Color"   ngModel="{{productData?.color2}}"><br/><br/>
<input class="form-input" type="text" name="price" placeholder="Enter Product Price"   ngModel="{{productData?.price}}"><br/><br/>
<textarea class="form-input" type="text" name="description" placeholder="Enter Product Description"    ngModel="{{productData?.description}}">
</textarea><br/><br/>
<input class="form-input" type="text" name="image" placeholder="Enter Product Image URL" ngModel="{{productData?.image}}"><br/><br/>
<button type="submit" [disabled]=!updateForm.valid class="btn btn-warning input">Update Product</button>
</form>
    
</div>

