.container1{
    text-align: center;
    padding-left: 5px;



}
h4{
  text-align: center;
  color: blue;
}
.form-input{
    width: 350px;
    border: 1.5px solid blueviolet;
text-align: center;
}
.input{
   height: 35px;
   width:350px ; 
   text-align: center;
   font-weight: bold;
   border: 1px solid darkorange;
}

