img{
    height: 100px;
    width: 100px;
}
table{
    text-align: left;
    border-collapse: collapse;

}
td{
    color: blueviolet;
 text-align: center;
}
table td,table th{
    border: 1px solid gainsboro;
    padding: 5px;
}
th{
    text-align: center;
}
h3{
    text-align: center;
    color: blue;
}