.product-image{
    width: 100%;
    height: 400px;
    object-fit: contain;
}
.product-color{
    border: 2.5px solid rgb(246, 195, 78);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
h2,h4,h6{
    margin-top: 20px;

}
.btn-act{
    border-radius: 20px;
    width: 120px;
}
.quantity-group{
    margin-top: 20px;
}
.quantity-group button{
    padding: 10px;
}
.quantity-group input{
    width: 50px;
    padding: 10px;
}
.color-group{
    display: inline-flex;
}