<div class="row product-Details">

    <h5 style="text-align: center;"><hr/>Search Product "{{ searchQuery }}"</h5><hr/><br/>
    <p style="color: blue;" *ngIf="searchResults.length === 0">No products found.</p>
    <ul *ngIf="searchResults.length > 0">
         <li class="item-box" *ngFor="let product of searchResults">&nbsp;
            <div class="card">
                <div class="col-sm-6 containts">
                
                    <a routerLink="/productdetails/{{product.id}}"><img src="{{product.image}}"/></a><br/>
                </div>
                <div class="col-sm-6 containts">
                    <div class="Details">
                        <a routerLink="/productdetails/{{product.id}}"> <h2>{{product.productName}}</h2></a>
        <h4>Price: {{product.price}}</h4>
                </div>
                <div class="btn-group">
                Color: &nbsp;
                <h5 [style.backgroundColor]="product.color1" class="product-color"></h5>&nbsp;&nbsp;
                <h5 [style.backgroundColor]="product.color2" class="product-color"></h5>
              </div>
              <h6>Category :{{product.category}}</h6>
              <h6>Description :{{product.description}}</h6>
        
              </div>
           
            </div>



            &nbsp;
        </li>&nbsp;
    
    </ul>&nbsp;
   </div>
