
<br/><br/>
<div class="container">
  <h3>Looks like you're new<br/> Seller here</h3>
<h5>Sign up Seller with your details <br/>to get started</h5>
<a style="color: blue; font-size: large;" (click)="openloginUser()" ><b><u>Already SignUp Seller ?</u></b></a>
  <form #sellerSignupForm="ngForm"  (ngSubmit)="sellerSignup(sellerSignupForm)"><br/>
    <div>
      <label for="username" class="form-label">Enter Username :</label>
      <input class="form-control" type="text" ngModel  id ="username"  name="username" required/>

      <label for="email" class="form-label">Email Id :</label>
      <input class="form-control" type="email" ngModel  id="email" name="email" required/>

      <label for="contact" class="form-label">Contact :</label>
      <input class="form-control" type="tel" id="contact" ngModel name="contact" required/>

      <label for="address" class="form-label">Address :</label>
      <input class="form-control" type="address" id="address" ngModel name="address" required/><br/>
      

      <label for="password" class="form-label">Password :</label>
      <input class="form-control" type="password" id="password" ngModel name="password" required/><br/>

      <label for="confirmpassword" class="form-label"> Confirm Password :</label>
      <input class="form-control" type="password" id="confirmpassword" ngModel name="confirmpassword" required/><br/>

    <button class="btn btn-warning form-control" type="submit" [disabled]="!sellerSignupForm.valid"><b><u> SELLER SIGNUP</u></b></button>&nbsp;
    </div>
  </form>

</div>
<!-------sellerLogin------>
