<br/>
<h4>  Popular Fresh Vegetables near You</h4>
<hr/>
<!------1-->
<div class="veg-group">
    <div class="card padding">
        <img src="\assets\E-commerce Project images\tomato.webp" height="90px" width="125px">
      Tomato
        1kg 120₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
      <!-------->
      <div class="card padding">
        <img src="\assets\E-commerce Project images\Shimla-Mirch.jpg" height="90px" width="125px">
    Capsicum 1kg 190₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
<!----------------->

<div class="card padding ">
    <img src="\assets\E-commerce Project images\bhendi.jpg" height="90px" width="150px">
 LadyFinger
    1kg 130₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!------------------>
  <div class="card padding ">
    <img src="\assets\E-commerce Project images\carrots.jpg" height="90px" width="150px">
    Carrots 1kg 120₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!--------------------->
  <div class="card padding">
    <img src="\assets\E-commerce Project images\beetroot.webp" height="90px" width="150px">
Beetroot
    1kg 220₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!-------------------->
  <div class="card padding">
    <img src="\assets\E-commerce Project images\brinjal.png" height="90px" width="150px">
    Brinjal 1kg 90₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div><hr/>&nbsp;&nbsp;
</div>
  <!--------2-------->
  <br/>
  <div class="veg-group">
    <div class="card top">
        <img src="\assets\E-commerce Project images\karela.jpg" height="90px" width="125px">
       Bitter gourd
        1kg 170₹
    <div class="card-body"><br/>
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
      <!-------->
      <div class="card  top">
        <img src="\assets\E-commerce Project images\Onion.jpg" height="90px" width="125px">
       Onion 1kg 80₹
    <div class="card-body"><br/>
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
<!----------------->
<br/>
<div class="card padding top">
    <img src="\assets\E-commerce Project images\potato.png" height="90px" width="150px">
      Potato
    1kg 60₹
<div class="card-body"><br/>
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!------------------>
  <div class="card top ">
    <img src="\assets\E-commerce Project images\Dudhi.png" height="90px" width="150px">
   Fresh Dudhi 1kg 140₹
<div class="card-body"><br/>
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!--------------------->
  <div class="card top">
    <img src="\assets\E-commerce Project images\brokoli1.jpg "height="90px" width="150px">
     Fresh Brokoli 1kg 300₹
<div class="card-body"><br/>
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!-------------------->
  <div class="card padding top">
    <img src="\assets\E-commerce Project images\green-chilly.webp" height="90px" width="150px">
     Green Chilly 1kg 90₹
<div class="card-body"><br/>
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div><hr/>&nbsp;
</div>
<!----------------------------------3------------------------------------------------>
<hr/>
<h4> Popular Fruits near You</h4>
  <div class="veg-group">
    <div class="card top-m">
        <img src="\assets\E-commerce Project images\banana.jpeg" height="90px" width="125px">
        banana
        1Dozen 100₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
      <!-------->
      <div class="card top-m">
        <img src="\assets\E-commerce Project images\Blackberry.png" height="90px" width="125px">
        Blackberry 1kg 350₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
<!----------------->
<br/>
<div class="card top-m">
    <img src="\assets\E-commerce Project images\swtabeary.jpg" height="90px" width="150px">
    Strawberry
    1kg 380₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!------------------>
  <div class="card top-m ">
    <img src="\assets\E-commerce Project images\Pineapple.jpg" height="90px" width="150px">
    Pineapple 1kg 140₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!--------------------->
  <div class="card top-m">
    <img src="\assets\E-commerce Project images\pear.png "height="90px" width="150px">
   Fresh Pear 1kg 300₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!-------------------->
  <div class="card top-m">
    <img src="\assets\E-commerce Project images\kiwi.png" height="90px" width="150px">
   Fresh Kiwi 1kg 180₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div><hr/>&nbsp;
</div>
<!------------------------4-------------------->
<div class="veg-group">
    <div class="card top-n">
        <img src="\assets\E-commerce Project images\aaple.jpg" height="90px" width="125px">
       Apple 1kg 280₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
      <!-------->
      <div class="card top-n">
        <img src="\assets\E-commerce Project images\orange.png" height="90px" width="125px">
       Fresh Orange 1kg 300₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
<!----------------->

<div class="card top-n">
    <img src="\assets\E-commerce Project images\Sitaphal.webp" height="90px" width="150px">
    Custard apple 320₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!------------------>
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\watermeloan.jpg" height="90px" width="150px">
    Watermeloan 480₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!--------------------->
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\mango.jpg"height="90px" width="150px">
   Mango 1Dozen 500₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!-------------------->
  <div class="card top-m">
    <img src="\assets\E-commerce Project images\guava-fruit.png" height="90px" width="150px">
    Guava 1kg 220₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div><hr/>&nbsp;
</div>
<!------------------------5-------------------->
