<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <img src="\assets\E-commerce Project images\navbar.png" height="50px" width="300px" />
        <form class="d-flex" role="search">
            <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>&nbsp;&nbsp;
            <div>
                <button type="button" class="btn btn-primary"><i class="bi bi-person-circle"></i>Login
                </button>&nbsp;
                <button type="button" class="btn btn-light"> <i class="bi bi-cart"></i></button>&nbsp;
                <button type="button" class="btn btn-light"> <i class="bi bi-shop"></i></button>&nbsp;
                <button type="button" class="btn btn-light"><i class="bi bi-three-dots-vertical"></i></button>
            </div>
        </form>

    </div>
</nav>
&nbsp;
<div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
</div>