
<br/><br/>

    <div class="cardcenter">
        <div class="card" style="width: 1000px;">
            <div class="card-body center">
                <div class="container text-center center">
                    <div class="row row-cols-auto center">
                        <div class="col">
                       <a (click)="gotoGrocery()"><img src="\assets\E-commerce Project images\grocery.jpg" height="90"width=90></a> <br />Grocery</div>
                        <div class="col"><img src="\assets\E-commerce Project images\mobile.jpg" height="90"
                                width=90><br />Mobiles</div>
                        <div class="col"><img src="\assets\E-commerce Project images\fashion0.jpg" height="90"
                                width=90><br />Fashion</div>
                        <div class="col"><img src="\assets\E-commerce Project images\electronics.png" height="90"
                                width=90><br />Electronics</div>
                        <div class="col"><img src="\assets\E-commerce Project images\home-furniture.png" height="90"
                                width=90><br />Home &<br />Furniture</div>
                        <div class="col"><img src="\assets\E-commerce Project images\appliances.jpg" height="90"
                                width=90><br />Appliances</div>
                        <div class="col"><img src="\assets\E-commerce Project images\flight.png" height="90"
                                width=90><br />Flight<br />Bookings</div>
                        <div class="col"><img src="\assets\E-commerce Project images\produts.png" height="90"
                                width=90><br />Beauty,<br />Toy &<br />More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>

        <div id="carouselExampleSlidesOnly" class="carousel slide padding" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/E-commerce Project images/mobile-offers.jpg" class="d-block" alt="img1"
                        height="180px" width="1000px" />
                </div>
                <div class="carousel-item">
                    <img src="/assets/E-commerce Project images/flight-offers.jpg" class="d-block" alt="img2"
                        height="180px" width="1000px" />
                </div>
                <div class="carousel-item">
                    <img src="/assets/E-commerce Project images/appliance offer.jpg" class="d-block" alt="img3"
                        height="180px" width="1000px" />
                </div>
                <div class="carousel-item">
                    <img src="/assets/E-commerce Project images/beauty-coupons.jpg" class="d-block" alt="img4"
                        height="180px" width="1000px" />
                </div>
                <div class="carousel-item">
                    <img src="/assets/E-commerce Project images/furniture-offers.jpg" class="d-block" alt="img5"
                        height="180px" width="1000px" />
                </div>
            </div>
        </div>
        <div class="box">
            <div class="cardcenter">
                <div class="card" style="width: 1000px;">
                    <div class="card-body center">
                        <p class="font">Best of Electronics</p>
                        <div class="container text-center center">
                            <div class="row row-cols-auto center">

                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\bootheadset.webp"
                                            height="135" width=110><br />Best TrueWireless...<br /><b>Grab Now</b></div>
                                </div>
                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\monitor.png"
                                            height="135" width=110><br />Monitors<br /><b>From ₹7949</b></div>
                                </div>
                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\sony_speaker.jpg"
                                            height="135" width=110><br />Best Selling Mobile...<br /><b>From ₹449*</b>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\Fastrack-Watch.jpg"
                                            height="135" width=110><br />Fastrack SmartWatch...<br /><b>From ₹1,349</b>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\asus-monitor.webp"
                                            height="135" width=110><br /> ASUS Monitors<br /><b>From ₹14999</b></div>
                                </div>

                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\printer.jpg"
                                            height="135" width=110><br />Printers<br /><b>From ₹7949</b></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!------------------------------------------------------------------------------------->
        <div class="box">
            <div class="cardcenter">
                <div class="card" style="width: 1000px;">
                    <div class="card-body center">
                        <p class="font">Beauty,Food,Toy & More</p>
                        <div class="container text-center center">
                            <div class="row row-cols-auto center">
                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\electric-cycle.jpg"
                                            height="135" width=110><br />Electric Cycle<br /><b>Up to 40% Off</b></div>
                                </div>
                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\remote-toy.webp"
                                            height="135" width=110><br />Remote Control Toys<br /><b>Up to 80% Off</b>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\soft-toy.jpg"
                                            height="135" width=130><br />Soft Toys<br /><b>Up to 70% Off</b></div>
                                </div>

                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\action-toy.jpg"
                                            height="135" width=110><br />Best of Action Toys<br /><b>Up to 80% Off</b>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\food.jpg" height="135"
                                            width=110><br /> Dry Fruits<br /><b>Up to 75% Off</b></div>
                                </div>

                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\instrument.avif"
                                            height="135" width=110><br />String Instrument<br /><b>Up to 70% Off</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------->

        <div class="box">
            <div class="cardcenter">
                <div class="card" style="width: 1000px;">
                    <div class="card-body center">
                        <p class="font">Beauty,Food,Toy & More</p>
                        <div class="container text-center center">
                            <div class="row row-cols-auto center">
                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\microphone.jpg"
                                            height="135" width=110><br />Microphones<br /><b>Up to 70% Off</b></div>
                                </div>
                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\puzzle.jpg"
                                            height="135" width=110><br />Puzzles & Cubes<br /><b>From ₹ 79</b></div>
                                </div>
                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\oats.avif" height="135"
                                            width=130><br />Breakfast Cereal<br /><b>Up to 75% Off</b></div>
                                </div>

                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\butter.webp"
                                            height="135" width=110><br />Food Spreads<br /><b>Up to 75% Off</b></div>
                                </div>

                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\musical-toy.jpg"
                                            height="135" width=110><br /> Musical Toys<br /><b>Under 199</b></div>
                                </div>

                                <div class="card">
                                    <div class="col"><img src="\assets\E-commerce Project images\book.png" height="135"
                                            width=110><br />Learning & Education<br /><b>Up to 80% Off</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <div class="content"><br />
        <h5><b>Top Stories : Brand Directory</b></h5>
        <h6>MOST SEARCHED FOR ON EASYBUY :</h6>
        <small>
            | Xiaomi | Samsung | OnePlus| laptops| Dell | HP | Lenovo | LED and Smart|
            TVs from brands like Sony | LG and Samsung | iPads and Android tablets from various brands |
            iPads and Android tablets from various brands | Split and window ACs from brands like LG |
            Voltas, and Blue Star.Single and double door refrigerators | Men’s and women’s apparel from brands like
            Adidas | Nike, and many local brands | Sneakers formal shoes, and casual shoes |
            Bags, belts, and watches | Moisturizers, serums, and sunscreens | Shampoos | conditioners| Foundations |
            lipsticks and eyeshadows | products.Sofas | beds, and dining tables.Cookware |
            dinner sets | storage solutions.Wall art | lamps,
            and decorative | items.Daily essentials | snacks, and beverages |
        </small>
        <h6>MOBILES </h6>
        <small>Apple
            | iPhone 15 Series | iPhone 15 | iPhone 15 Pro | iPhone 15 Pro Max |
            iPhone 14 Series |
            iPhone 14 |
            iPhone 14 Pro |
            iPhone 14 Pro Max |
            Samsung
            Galaxy S Series |
            Galaxy S23 |
            Galaxy S23+ |
            Galaxy S23 Ultra |
            Galaxy A Series |
            Galaxy A54 |
            Galaxy A34 |
            Galaxy A14 |
            Huawei
            P Series
            P60 |
            P60 Pro |
            Mate Series |
            Mate 50 |
            Mate 50 Pro |
            Xiaomi
            Mi Series |
            Mi 13 |
            Mi 13 Pro |
            Redmi Series |
            Redmi Note 12
            Redmi Note 12 Pro |
            Find Series | Find X5 | Find X5 Pro | Reno Series | Reno 8 | Reno 8 Pro | Vivo | Vivo V25| V Series | Vivo
            V25 Pro | X Series | Vivo X80 | Vivo X80 Pro| Google | Pixel Series | Pixel 7 | Pixel 7 Pro | Sony | Xperia
            Series | Xperia 1 IV | Xperia 5 IV | Nokia |Nokia G Series|
            Nokia G21 | Nokia X Series | Nokia X30 | Motorola | Moto G Series | Moto G Stylus | Moto G Power | Moto Edge
            Series | Moto Edge 30 | OnePlus |OnePlus 11 | OnePlus Nord Series | OnePlus Nord 2T | Realme| Realme GT
            Series |
            Realme GT 2 Pro | Realme 11 Series | Realme 11 Pro |
            Honor |Honor 70 Series | Honor Magic Series |Tecno | Tecno Camon Series | Tecno POVA Series | Infinix|
            Infinix Note Series |Infinix Zero Series |
        </small>
        <h6>CAMERA</h6>
        <small>

            Canon | Nikon | Sony | Alpha Series (e.g., A7 III, A6400) | Fujifilm X Series (e.g., X-T4, X100V) |
            Panasonic |Olympus (now OM System) | Ricoh | Sony | GoPro | DJI | Polaroid | Fujifilm | Apple | Samsung
            |Leica | Sigma |
        </small>
        <h6>TVS</h6><small>
            Samsung

            QLED Series (e.g., Q80T, Q90T) |
            Frame Series |
            LG |

            OLED Series (e.g., CX, G1) |
            NanoCell Series |
            Sony |

            Bravia XR Series (e.g., A90J, X90J) |
            XBR Series |
            TCL |

            6-Series (R635) |
            5-Series (S535) |
            Vizio |

            P-Series (P-Series Quantum) |
            M-Series |
            Panasonic |

            OLED Series (e.g., JZ2000) |
            4K LED Series |
            Philips |

            OLED Series |
            Ambilight Series |
            Hisense|

            ULED Series (U8G, U7G) |
            Laser TV Series |
            Sharp |

            Aquos Series |
            Specialty and High-End Brands |
            LG (Signature Series) |

            High-end OLED and lifestyle TVs. |
            Sony (Master Series) |

            Premium 4K and OLED TVs. |
            B&O (Bang & Olufsen) |

            Luxurious design and sound quality TVs. |
            Sonic & Mobi |

            Innovative designs and features in select markets |
        </small>
        <h6>LARGE APPLIANCES :</h6>
        <small>
            Whirlpool |

            Known for refrigerators, washers, dryers, and ranges |
            Samsung |

            Offers a wide range of appliances, including smart refrigerators, washers, and dryers.
            LG |

            Known for innovative appliances, including refrigerators, washing machines, and dishwashers.
            Bosch |

            Specializes in high-end dishwashers, ovens, and kitchen appliances |

            Frigidaire|

            Popular for affordable refrigerators, stoves, and laundry appliances.
            KitchenAid |

            Known for premium kitchen appliances, including mixers, ovens, and refrigerators.
            Maytag |

            Offers robust washers, dryers, and kitchen appliances.
            Electrolux |

            Known for stylish and efficient kitchen and laundry appliances.
            Miele |

            High-end brand known for premium dishwashers, washing machines, and ovens.
            Additional Brands |
            Viking |

            Specializes in professional-grade kitchen appliances |
            Fisher & Paykel |

            Known for innovative design in kitchen and laundry appliances.
            Smeg |

            Offers stylish and retro-inspired kitchen appliances.
            Amana |
            Budget-friendly options for various household appliances.
        </small>
        <h6>FOOTWEAR :</h6>
        <small>
            Nike |

            Known for running shoes, basketball sneakers, and casual athletic wear.
            Adidas |

            Offers a range of running shoes, lifestyle sneakers, and sports gear.
            Puma

            Popular for sporty styles and collaborations with fashion brands.
            Reebok |

            Known for fitness shoes and classic athletic styles.

            Asics |
            Casual and Lifestyle Footwear Brands
            Vans |

            Popular for skate shoes and casual sneakers.
            Converse |

            Known for iconic Chuck Taylor All-Stars and casual sneakers.
            Skechers |

            Offers comfortable walking shoes and lifestyle footwear.
            Toms|

            Known for slip-on shoes and a commitment to social responsibility.
            Clarks |

            Renowned for comfortable and stylish casual and dress shoes.
            Formal and Dress Footwear Brands
            Cole Haan |

            Offers a range of stylish dress shoes and casual footwear.
            Bertie|

            Known for trendy and elegant dress shoes.
            Florsheim |

            Renowned for classic men’s dress shoes.
            Dr. Martens |

            Famous for their durable boots with a distinctive style.
            Other Notable Brands
            Timberland |

            Known for rugged outdoor boots and casual footwear.
            UGG |

            Popular for sheepskin boots and cozy footwear.
            Havaianas |

            Known for colorful flip-flops and casual sandals.
            Birkenstock |

            Renowned for comfortable sandals with orthopedic support.
        </small>
        <h6>GROSERIES :</h6><small> |Big Bazaar: A well-known hypermarket chain offering a wide range of groceries,
            household items, and clothing |

            Reliance Fresh: A grocery store chain that provides fresh produce, groceries, and daily essentials |

            DMart: Known for its competitive pricing, DMart offers a variety of grocery items and household products |

            Spencer's: A retail chain offering groceries, fresh food, and specialty products |

            More Supermarket: A grocery store chain that caters to urban customers with a variety of products |

            Amazon Pantry: An online grocery service providing a wide selection of items delivered to your doorstep |

            Flipkart Supermart: Another online platform that offers groceries and essentials |

            ITC's Aashirvaad: Known for its range of staple food products, including flour, spices, and ready-to-cook
            items |

            Nestlé: Offers various packaged food products like Maggi noodles, dairy products, and more |

            Britannia: A popular brand for bakery products, dairy, and snacks |
        </small>
        <h6>CLOTHING :</h6><small>
            FabIndia: Known for its ethnic wear | handcrafted products | and traditional textiles |

            W for Woman: Offers contemporary ethnic clothing for women | combining traditional styles with modern cuts |

            Biba: A popular brand for ethnic wear | known for its vibrant kurtas and salwar suits |

            Levi's: Famous for its denim | Levi's offers a range of jeans | casual wear | and accessories |

            Puma: A leading sportswear brand that provides athletic clothing | footwear | and accessories |

            H&M: Offers trendy and affordable fashion for men | women, and children |

            Myntra: An online platform featuring a wide variety of brands | from high-end to fast fashion |
            Allen Solly: Known for its smart casual and formal wear for both men and women |

            Zara: A popular choice for trendy and stylish clothing | with a strong presence in urban areas |

            Roadster: An outdoor lifestyle brand available on Myntra | offering casual wear and activewear |
        </small>

        <h6>BEST SELLING ON EASYBUY :</h6>
        <small> |Smartphones: Brands like Xiaomi | Samsung | Realme frequently top the sales charts |

            Laptops and Tablets: HP | Dell, and Lenovo are popular choices among buyers |

            Fashion: Ethnic wear from brands like Biba and W for Woman | as well as casual wear from Roadster and Adidas
            |

            Home Appliances: Brands like LG, Samsung | and Whirlpool for refrigerator | washing machines, and air
            conditioners |
            Electronics: Smart TVs | sound systems from brands like Sony | LG and Mi |
            Fitness Equipment: Items like treadmills and dumbbells are popular | especially during fitness trends |
            Home Decor: Furniture and decor items | often from local brands or Flipkart’s own line | can be bestsellers
            as well
            Books: Bestsellers in fiction | non-fiction across various genres |
            Beauty Products: Skincare | makeup from brands like Lakme | Maybelline, and L'Oreal </small>
        <h6>FURNITURE :</h6> <small>
            Godrej Interio: Known for its stylish and functional furniture for homes and offices | focusing on
            moderndesigns |
            IKEA: The Swedish brand offers a variety of contemporary furniture and home decor items | known for its
            affordability | DIY approach |
            Durian: Offers a wide range of wooden furniture, including beds, sofas, and dining sets, with a focus on
            quality and design |
            Pepperfry: An online marketplace that features a variety of furniture styles, from traditional to modern,
            with options for customization |
            Urban Ladder: Known for its trendy and contemporary designs, Urban Ladder offers a wide selection of
            furniture for different rooms |
            HomeTown: Offers a mix of modern and traditional furniture, along with home decor items, catering to
            varioustastes |
            Wooden Street: Specializes in solid wood furniture with a focus on customization and handcrafted pieces |
            Royal Oak: Known for its affordable yet stylish furniture, including sofas, beds, and dining tables |
            Couch Potato: Offers a range of contemporary furniture with a focus on comfort and style, particularly in
            seating options|
            FabIndia: In addition to clothing, FabIndia offers traditional Indian furniture crafted from sustainable
            materials| </small><br /><br />
        <div class="color">
            <h6><b>EasyBuy : The One-Stop Shopping Destination</b></h6>
            <small>
                EasyBuy is often referred to as a one-stop shopping destination in
                India due to its extensive range of products across various categories.
                Here’s what makes EasyBuy a comprehensive shopping platform EasyBuy
                user-friendly interface, frequent sales, discounts, and customer reviews
                enhance the shopping experience. They also offer various payment options
                and delivery services, making it easy to shop for nearly everything
                in one place. Is there a specific category or product you’re interested
            </small><br /><br />
            <h6><b>EasyBuy Plus</b></h6><small>
                EasyBuy Plus is a loyalty program offered by EasyBuy that provides members with various benefits and
                perks for shopping on the platform. Here are some key features of EasyBuy Plus:

                Free and Fast Delivery: Members often enjoy faster delivery options on eligible products, sometimes with
                same-day or next-day delivery.

                Exclusive Offers and Discounts: EasyBuy Plus members receive special deals, early access to sales, and
                exclusive discounts on a wide range of products.

                EasyBuy Points: Members earn points on every purchase, which can be redeemed for discounts on future
                orders or other offers.

                Priority Customer Support: EasyBuy Plus members may receive priority assistance from customer service,
                making it easier to resolve issues.

                Special Events: Access to exclusive shopping events and sales, where members can find special deals and
                offers.

                Partner Offers: EasyBuy often collaborates with various brands and service providers, offering
                additional benefits like discounts on travel, entertainment, and more.

                To become a EasyBuy Plus member, customers can either sign up for the program or reach the required
                threshold of purchases to qualify for membership. It's a great way for
                frequent shoppers to maximize their savings and enjoy enhanced services.
            </small><br /><br />
            <h6><b>No Cost-EMI</b></h6>
            <small>No Cost EMI on Flipkart is a financing option that allows customers to purchase products and pay for
                them in easy monthly installments (EMIs) without any additional interest charges. Here’s how it works:

                Interest-Free Installments: Customers can buy products on EMI without paying any extra interest. The
                total cost of the product is divided into equal monthly payments.

                Flexible Tenure: No Cost EMI options typically come with various tenure options, such as 3, 6, 9, or 12
                months, allowing customers to choose a repayment period that suits their budget.

            </small><br /><br />

            <h6>EMI On-Debit Cards</h6>
            <small>
                EMI on debit cards is a popular financing option that allows customers to convert their purchases into
                easy monthly installments using their debit cards.
                This option is particularly useful for those who prefer not to use credit cards or want to manage their
                finances more closely.
                If you have specific questions about how to use debit card EMI
            </small><br /><br />
            <h6>Mobile Exchange Offers</h6>
            <small>
                The mobile exchange offer on Flipkart allows you to trade in your old smartphone for
                a discount on a new one.Flipkart will assess your old phone’s model and condition to provide an
                estimated exchange value.
                Factors like brand, model, and overall condition (functional and physical) will influence the
                valuation.There will be anoption to exchange your old mobile device.
                You can enter your old phone’s details to check if it’s eligible.
            </small><br /><br />

            <h6>What Can You Buy From EasyBuy<br /><br />Mobile </h6>
            <small> opular Brands: Samsung, Xiaomi, Realme, Vivo, Oppo, OnePlus, Apple, and more.
                Budget Phones: Options for every budget, from entry-level to mid-range and flagship models.
                :
                Primarily Android, with some models featuring iOS.
                Accessories:
                Cases, screen protectors, chargers, and more to complement your phone purchase.
                Deals and Offers:

                Frequent discounts, exchange offers, and financing options to make purchases more affordable.
                User Reviews:

                Detailed reviews and ratings from other customers to help you make an informed
                decision.</small><br />
            <h6>Electronics</h6>
            <small> EasyBuy has a vast selection of electronics, catering to various needs and preferences. Here are
                some of the main categories of electronics you can find:

                Smartphones: A wide range of brands and models, including budget-friendly options and high-end flagship
                devices.

                Laptops: Different types of laptops for work, gaming, and everyday use from brands like Dell, HP,
                Lenovo, and more.

                Tablets: Tablets from popular brands, including iPads and Android tablets, suitable for entertainment
                and productivity.

                Cameras: DSLR, mirrorless, and point-and-shoot cameras, along with lenses and accessories.

                Audio Devices: Headphones, earphones, speakers, and sound systems from various brands.

                Wearable Tech: Smartwatches and fitness trackers to monitor health and fitness.

                Televisions: LED, OLED, and smart TVs in various sizes and resolutions.

                Home Appliances: Microwaves, refrigerators, washing machines, and more, including smart home devices.

                Computer Accessories: Keyboards, mice, monitors, and storage devices.

                Gaming Consoles and Accessories: PlayStation, Xbox, Nintendo Switch, and related games and
                accessories.</small><br />
            <h6>Home Appliances</h6>
            <small>Kitchen Appliances:

                Mixers and Grinders: For blending, grinding, and food preparation.
                Microwaves: Solo, grill, and convection microwaves.
                Ovens: Electric and toaster ovens for baking and cooking.
                Induction Cooktops: Efficient cooking options for modern kitchens.
                Refrigerators: Single-door, double-door, side-by-side, and mini fridges.
                Laundry Appliances:

                Washing Machines: Fully automatic, semi-automatic, and front-load models.
                Dryers: For drying clothes efficiently.
                Cooling Appliances:

                Air Conditioners: Window and split ACs, along with inverter options.
                Air Coolers: Portable and window-mounted coolers for hot weather.
                Fans: Ceiling fans, table fans, and exhaust fans.
                Cleaning Appliances:

                Vacuum Cleaners: Handheld, robotic, and upright models for easy cleaning.
                Steam Cleaners: For deep cleaning various surfaces.
                Small Appliances:

                Coffee Makers: Drip coffee makers, espresso machines, and more.
                Toasters: Pop-up and grill toasters for quick snacks.
                Kettles: Electric and stovetop kettles for boiling water.
                Water Purifiers:

                RO, UV, and gravity-based purifiers for safe drinking water.
                Smart Appliances:

                Smart refrigerators, washing machines, and other IoT-enabled devices.
                Deals and Offers:

                Look out for special promotions, festival sales, and discounts on various products.</small><br />
            <h6>Fashion </h6>
            <small> Men's Fashion:
                Clothing: T-shirts, shirts, jeans, trousers, and ethnic wear.
                Footwear: Sneakers, formal shoes, sandals, and boots.
                Accessories: Watches, belts, wallets, bags, and sunglasses.
                Women's Fashion:
                Clothing: Dresses, tops, skirts, ethnic wear (sarees, salwar kameez), and activewear.
                Footwear: Flats, heels, sandals, and sports shoes.
                Accessories: Handbags, jewelry, scarves, and sunglasses.
                Kids' Fashion:
                Boys and Girls Clothing: T-shirts, dresses, shorts, and ethnic wear.
                Footwear: Casual shoes, sandals, and sports shoes for kids.
                Accessories: Caps, bags, and watches.
                Ethnic Wear:
                A variety of traditional outfits for men and women, including sarees, lehengas, kurta sets, and
                sherwanis.
                Activewear:
                Sportswear for gym enthusiasts, including leggings, tracksuits, and running shoes.
                Lingerie and Sleepwear:
                A range of lingerie, nightwear, and activewear for comfort and style.
                Trends and Collections:
                Seasonal collections, festive wear, and trending styles based on current fashion trends.
                Deals and Discounts:
                Regular sales, flash deals, and exclusive discounts during festivals and special events.
                Size and Fit Options:
                Various sizes available, including plus sizes and kids' sizes, with options to filter by fit and
                style.</small><br />
            <h6>Home & Furniture</h6>
            <small>Living Room Furniture:
                Sofas and Couches: Sectionals, recliners, and sofa beds in various styles.
                Coffee Tables: Modern, traditional, and multifunctional designs.
                TV Units: Stylish units for your television, with storage options.
                Bedroom Furniture:
                Beds: King-size, queen-size, and twin beds, including storage beds.
                Mattresses: Various types (memory foam, spring, gel) for comfort.
                Wardrobes: Sliding and hinged door options in different sizes.
                Nightstands and Dressers: Essential storage for bedroom essentials.
                Dining Room Furniture:
                Dining Tables: Rectangular, round, and extendable tables for various spaces.
                Chairs: Dining chairs in different materials and styles to match your decor.
                Bar Stools: Stylish seating options for home bars or kitchen islands.
                Office Furniture:
                Desks: Study tables, workstations, and computer desks.
                Office Chairs: Ergonomic chairs for comfort during work hours.
                Bookshelves: Various styles for storage and display.
                Storage Solutions:
                Cabinets: For organizing and storing items in any room.
                Shelves: Wall-mounted and freestanding shelves for display and storage.
                Storage Bins and Boxes: For decluttering and organizing.
                Outdoor Furniture:
                Garden Chairs and Tables: Durable options for patios and gardens.
                Loungers: Comfortable seating for relaxation outdoors.
                Home Decor:
                Rugs and Carpets: To enhance the aesthetic of your spaces.
                Curtains and Blinds: For privacy and style.
                Wall Art and Decor: To personalize your living spaces.
                Deals and Offers:
                Look out for discounts, festival sales, and bundle offers to get the best deals on furniture.
                Customization Options:
                Some products may offer customization in terms of fabric, color, and size.</small><br />
            <h6>Books</h6>

            <small>Fiction:
                Novels: Bestsellers, literary classics, and contemporary fiction.
                Short Stories: Collections from various authors and genres.
                Mystery & Thrillers: Gripping plots and suspenseful reads.
                Non-Fiction:
                Biographies & Autobiographies: Life stories of notable personalities.
                Self-Help: Books on personal development, motivation, and wellness.
                History & Politics: Insightful reads on historical events and political theories.
                Children’s Books:
                Storybooks: Picture books and illustrated stories for young readers.
                Educational Books: Activity books, workbooks, and subject-specific guides.
                Young Adult: Novels and series geared towards teenagers.
                Textbooks:
                Academic Books: Textbooks for school, college, and competitive exams.
                Reference Materials: Guides and handbooks for various subjects.
                Cookbooks:
                Recipe Books: Cuisine-specific and general cookbooks for all skill levels.
                Diet and Health: Books focused on nutrition and healthy eating.
                Comics and Graphic Novels:
                Manga: Popular Japanese comics and graphic novels.
                Superhero Comics: Titles from major publishers like Marvel and DC.
                Poetry:
                Collections: Works from classic poets to contemporary voices.
                Science and Technology:
                Popular Science: Books that make complex topics accessible.
                Technical Guides: Books for professionals in various fields..</small><br />
            <h6>Health & Personal Care</h6>
            <small>Personal Care:
                Skincare: Moisturizers, cleansers, sunscreens, serums, and face masks.
                Hair Care: Shampoos, conditioners, hair oils, and styling products.
                Oral Care: Toothpaste, mouthwash, and toothbrushes.
                Body Care: Body lotions, scrubs, deodorants, and bath products.
                Beauty Products:
                Makeup: Foundations, lipsticks, eye makeup, and makeup tools.
                Fragrances: Perfumes and body sprays for men and women.
                Nail Care: Nail polishes, nail art supplies, and manicure sets.
                Health Supplements:
                Vitamins and Minerals: Essential supplements for daily health.
                Protein Supplements: Powders and bars for fitness enthusiasts.
                Herbal Supplements: Natural remedies for various health concerns.
                Fitness Equipment:
                Home Gym Equipment: Dumbbells, resistance bands, yoga mats, and more.
                Fitness Trackers: Wearable devices to monitor health and activity.
                Medicines and Healthcare:
                Over-the-Counter Medications: Common medicines for cold, pain relief, and allergies.
                First Aid Supplies: Bandages, antiseptics, and medical kits.
                Thermometers and Blood Pressure Monitors: Tools for monitoring health.
                Mother and Baby Care:.</small><br />
            <h6>Baby Products</h6>
            <small>Baby Gear:
                Strollers: Lightweight, travel-friendly, and full-size strollers.
                Car Seats: Infant car seats and convertible car seats for safety.
                Baby Carriers: Slings, wraps, and ergonomic carriers for easy transport.
                Clothing:
                Newborn and Infant Wear: Bodysuits, rompers, dresses, and sleepwear.
                Toddler Clothing: T-shirts, pants, and outerwear for older babies.
                Feeding:
                Bottles: Baby bottles, nipples, and sterilizers.
                Breastfeeding Accessories: Breast pumps, nursing pads, and milk storage bags.
                Feeding Utensils: Spoons, bowls, and sippy cups.
                Diapering:
                Diapers: Disposable and cloth diapers in various sizes.
                Wipes: Baby wipes, both scented and unscented.
                Diaper Bags: Stylish and functional bags for on-the-go diapering.
                Health and Safety:
                Baby Monitors: Audio and video monitors for peace of mind.
                Thermometers: Digital and infrared thermometers for quick readings.
                First Aid Kits: Essential items for minor injuries and health needs.
                Toys and Playtime:
                Infant Toys: Rattles, teething toys, and soft toys.
                Educational Toys: Building blocks, puzzles, and interactive games.
                Outdoor Toys: Bouncers, slides, and swings for outdoor play.
                Bathing and Hygiene:
                Bath Tubs: Baby tubs and inflatable tubs for safe bathing.
                Bathing Accessories: Towels, washcloths, and baby shampoo.
                Potty Training: Potty seats and training potties.
                Nursery Essentials:
                Cribs and Cots: Safe sleeping options for infants and toddlers.
                Bedding: Crib sheets, blankets, and mattress protectors.
                Decor: Wall decals, rugs, and storage solutions for nurseries.</small><br />
            <h6>Sports & Fitness</h6>
            <small> Fitness Equipment:
                Cardio Machines: Treadmills, stationary bikes, and elliptical trainers.
                Strength Training: Dumbbells, kettlebells, resistance bands, and weight benches.
                Yoga and Pilates: Yoga mats, blocks, straps, and exercise balls.
                Sports Gear:
                Team Sports: Equipment for cricket, football, basketball, and hockey, including balls, bats, and nets.
                Racquet Sports: Badminton rackets, tennis racquets, and squash equipment.
                Outdoor Sports: Camping gear, cycling accessories, and fishing equipment.
                Activewear:
                Men’s Clothing: T-shirts, shorts, joggers, and tracksuits.
                Women’s Clothing: Sports bras, leggings, tank tops, and athletic wear.
                Footwear: Running shoes, training shoes, and sports sandals.
                Fitness Accessories:
                Water Bottles: Insulated and reusable bottles for hydration.
                Fitness Trackers: Wearable devices to monitor activity, heart rate, and more.
                Gym Bags: Stylish and functional bags for carrying gear.
                Sports Nutrition:
                Protein Supplements: Protein powders, bars, and meal replacement shakes.
                Energy Gels and Drinks: For quick energy during workouts.
                Outdoor Recreation:
                Bicycles: Mountain bikes, road bikes, and accessories.
                Skates and Scooters: Inline skates and scooters for fun and fitness.
                Health and Safety Gear:
                Protective Gear: Helmets, knee pads, elbow pads, and mouthguards.
                First Aid Kits: Essential supplies for sports injuries.</small><br />
            <h6>Grocery</h6>
            <small>Food Staples:
                Rice and Grains: Basmati rice, parboiled rice, pulses, and various grains.
                Flours: Wheat flour, rice flour, besan, and other specialty flours.
                Oils and Ghee: Cooking oils (sunflower, olive, mustard) and ghee.
                Snacks and Beverages:
                Chips and Snacks: Chips, popcorn, and savory snacks.
                Nuts and Dry Fruits: Almonds, cashews, raisins, and mixed nuts.
                Beverages: Tea, coffee, juices, and soft drinks.
                Dairy Products:
                Milk and Milk Alternatives: Fresh milk, cheese, butter, and yogurt.
                Paneer and Cream: Fresh paneer and cooking cream for various dishes.
                Packaged Foods:
                Ready-to-Eat Meals: Instant noodles, soups, and meal kits.
                Canned and Jarred Goods: Sauces, pickles, and canned vegetables.
                Fruits and Vegetables:
                Fresh Produce: A variety of seasonal fruits and vegetables, often available for delivery.
                Herbs and Spices: Fresh herbs and a wide range of spices.
                Personal Care and Household Items:
                Cleaning Supplies: Detergents, disinfectants, and cleaning tools.
                Paper Products: Toilet paper, tissues, and kitchen rolls.
                Health and Hygiene: Soaps, shampoos, and sanitary products.
                Baby Care Products:
                Baby Food: Infant formula, cereals, and snacks for toddlers.
                Diapers and Wipes: Disposable and cloth diapers, baby wipes, and creams.
                Specialty and Organic Foods:
                Health Foods: Gluten-free, organic, and superfoods.
                Ethnic Foods: Ingredients for various regional cuisines.</small>
        </div>
    </div>




  