.nav{
 
    color: blue;
    justify-content: space-between;
    text-align: center;
    padding-left: 800px;
}
li,ul{
    list-style: none;
    text-decoration: none;
    display: inline-flex;
    column-gap: 5px;
}
h3{
    color: rgb(87, 87, 237);
    text-align: center;
}