<br/><br/>
<div class="container">
  <h3>Looks like you're new<br/> Seller here</h3>
<h5>Sign up Seller with your details <br/>to get started</h5>
<a style="color: blue; font-size: large;" (click)="goTosellerlogin()"><b><u>Already Register Seller</u></b></a>
  <form #sellerSignupForm="ngForm" (ngSubmit)="Signup(sellerSignupForm)"><br/>
    <div>
      <label for="username" class="form-label">Username :</label>
      <input class="form-control" type="text" formControlName="username" ngModel required/>

      <label for="email" class="form-label">Email Id :</label>
      <input class="form-control" type="email"  formControlName="email" />

      <label for="contact" class="form-label">Contact :</label>
      <input class="form-control" type="tel" formControlName="contact" />

   
      <label for="address" class="form-label">Address :</label>
      <input class="form-control" type="text" formControlName="address" /><br/>

      <label for="company" class="form-label">Comapny :</label>
      <input class="form-control" type="text" formControlName="company" /><br/>

 <label for="product" class="form-label">Product  :</label>
      <input class="form-control" type="product"  formControlName="product" /><br/>

      <label for="product" class="form-label">Password  :</label>
      <input class="form-control" type="password" formControlName="password" /><br/>

      <label for="Confirmpassword" class="form-label"> Confirm Password  :</label>

      <input class="form-control" type="password" formControlName="Confirmpassword" /><br/>

    <button class="btn btn-warning form-control" type="submit"    [disabled]="!sellerSignupForm.valid"><b><u> SELLER SIGNUP</u></b></button>&nbsp;
    </div>
  </form>

</div>



