
img{
    border-radius: 5px;
}


.font{
    font-size: x-large;
    font-weight: 600;
}

.color{
    color: #817f7f;
}




li,ul{
    list-style: none;
    text-decoration: none;
    display: inline-flex;
    
}
ul{
    margin-top: 30px;
}
.foot{
    margin-top: 50px;
    display: inline-flex;
    column-count: 3;
    column-gap: 210px;
    font-weight: 180px;
    font-size:15px;
}
span{
    font-weight:90;
    font-size: 17px;
    color: #7c7a7a;
}
.foota{
    margin-top: 5px;
    display: inline-flex;
    column-count: 3;
    column-gap: 186px;
    font-weight: 180px;
    font-size:15px;
}


p{
    color: blue;
    display: inline-flex;
}

a {
    text-decoration: none;
    font-weight: 500;
}
.btn-class{
    display: inline-flex;

}
.button{
    column-gap: 0;
    height: 40px;
    width: 60px;
}
.fit-box{
    padding-left: 250px;
}
