
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <img src="\assets\E-commerce Project images\navbar.png" height="50px" width="300px" />
            <div class="container mt-3 space">
                <form  class="d-flex"role="search" >
                        <input  type="text" class="height-input"
                    class="form-control"
                    name="query" autocomplete="off" ngModel 
                            placeholder="Search for Products,Brand and More"
                             aria-label="Search"/>&nbsp;
                             <button class="btn btn-primary" type="submit">Search</button>&nbsp;
                             <button class="btn btn-light" (click)="goToHome()"><i class="bi bi-house-fill"></i></button>
                                <button (click)="goToLogin()"class=" btn btn-light">Login</button>
                                 <button type="button" class="btn btn-light"><i class="bi bi-cart"></i></button>&nbsp;
                                 <button (click)="goToseller()" type="button" class="btn btn-light"> <i class="bi bi-shop"></i></button>
                                 <button type="button" class="btn btn-light"><i class="bi bi-three-dots-vertical"></i></button>          
                </form>
            </div>
        </nav>
  
          
     
    </header>

  
