<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">

    <a (click)="goToHome()"><img src="\assets\E-commerce Project images\navbar.png" height="50px" width="300px" /></a>
    <div *ngIf="menuType ==='default'" class="container mt-3 space">
      <input class="form-control" type="text" [(ngModel)]="searchQuery" (input)="filterProducts(searchQuery)"
        (blur)="onBlur()" (focus)="onFocus()" placeholder="Search for Products, Brand, and More"
        autocomplete="on" />&nbsp;&nbsp;
      <button class="btn btn-primary" type="submit" (click)="gotoSearch()">Search</button><br />
      <div style="text-align:end; color: red;" *ngIf="filteredProducts.length === 0">&nbsp;No products found.</div>
      <ul class="suggest-result" *ngIf="showSuggestions && filteredProducts.length > 0">
        <li class="suggest-result-li" (click)="selectProduct(product.productName)"
          *ngFor="let product of filteredProducts">{{ product.productName }}</li>
      </ul>
    </div>



    <div [ngSwitch]="menuType">

      <ul *ngSwitchCase="'default'">
        <li> <button class="btn btn-light hover-btn" (click)="goToHome()"><i class="bi bi-house-fill"></i></button>
          <span class="hover-text">Home</span>
        </li>
        <li> <button (click)="goToUser()" class=" btn btn-light hover-btn">Login</button>
          <span class="hover-text">Login</span>
        </li>
        <li> <button type="button" class="btn btn-light hover-btn"><i class="bi bi-cart"></i>({{addItems}})</button>
          <span class="hover-text">Cart</span>
        </li>
        <li> <button (click)="goToseller()" type="button" class="btn btn-light hover-btn"> <i
              class="bi bi-shop"></i></button>
          <span class="hover-text">Seller</span>
        </li>
        <li> <button type="button" class="btn btn-light  hover-btn"><i class="bi bi-three-dots-vertical"></i></button>
          <span class="hover-text">Help</span>
        </li>
      </ul>

      <ul *ngSwitchCase="'seller'">
        <li> <button class="btn btn-primary" (click)="addProduct()"><i class="bi bi-file-plus-fill"></i>&nbsp;Add
            Product</button></li>&nbsp;
        <li><button class="btn btn-primary" (click)="productList()"><i class="bi bi-file-check-fill"></i>&nbsp;Product
            List</button></li>&nbsp;
        <li> <button class="btn btn-primary" (click)="sellerLogout()"><i
              class="bi bi-house-lock-fill"></i>&nbsp;LogOut</button></li>&nbsp;&nbsp;
        <li>
          <h4 style="color:blueviolet; text-align: center;"><u>{{sellerName |titlecase}} !!</u></h4>
        </li>
      </ul>
      <ul *ngSwitchCase="'user'" class="cont-1">
        <li>
          <input class="form-control" type="text" [(ngModel)]="searchQuery" (input)="filterProducts(searchQuery)"
            (blur)="onBlur()" (focus)="onFocus()" placeholder="Search for Products, Brand, and More"
            autocomplete="on" />&nbsp;&nbsp;
          <button class="btn btn-primary" type="submit" (click)=" gotoSearch()">Search</button><br />&nbsp;&nbsp;
          <div style="text-align:end; color: red;" *ngIf="filteredProducts.length === 0">&nbsp;No products found.</div>
          <ul class="suggest-result disc" *ngIf="showSuggestions && filteredProducts.length > 0">
            <li class="suggest-result-li" (click)="selectProduct(product.productName)"
              *ngFor="let product of filteredProducts">{{ product.productName }}</li>
          </ul>
        </li>
        <li> <button class="btn btn-light hover-btn" (click)="goToHome()"><i class="bi bi-house-fill"></i></button>
          <span class="hover-text">Home</span>
        </li>&nbsp;&nbsp;
        <li> <button (click)="goToUser()" class=" btn btn-light hover-btn"><i class="bi bi-person"></i></button>
          <span class="hover-text">Login</span>
        </li>
        <li> <button type="button" (click)="cartProduct()" class="btn btn-light hover-btn"><i class="bi bi-cart"></i>({{addItems}})</button>
          <span class="hover-text">Cart&nbsp;({{addItems}})</span>
        </li>&nbsp;
        <li> <button (click)="goToseller()" type="button" class="btn btn-light hover-btn"> <i
              class="bi bi-shop"></i></button>&nbsp;
          <span class="hover-text">Seller</span>
        </li>
        <li> <button type="button" (click)="userLogout()" class="btn btn-light hover-btn"><i
              class="bi bi-house-lock-fill hover-btn"></i></button>
          <span class="hover-text">LogOut</span>
        </li>&nbsp;
        <li>
        <li> <button type="button" class="btn btn-light hover-btn"><i
              class="bi bi-three-dots-vertical hover-btn"></i></button>
          <span class="hover-text">Help</span>
        </li>
        <li>
          <h4 > Welcome {{userName |titlecase}} !!</h4>
        </li>
      </ul>

    </div>



  </nav>



</header>