<div class="bg">
    <header>
        <nav class="navbar bg-body-tertiary postion">
            <div class="container-fluid">
                <img src="\assets\E-commerce Project images\navbar.png" height="50px" width="300px" />
                <form class="d-flex" role="search">&nbsp;&nbsp;
                    <div>
                        <input class="form-control me-2 search" type="search"
                            placeholder="Search for Products,Brand and More" aria-label="Search" />
                    </div>
                    &nbsp;&nbsp;<br/>         
                    <div class="btn-class">

                       <button (click)="goToLogin()"class=" btn btn-light">Login&nbsp;<i class="bi bi-person-circle"></i></button>
                        <button type="button" class="btn btn-light"> <i class="bi bi-cart"></i>(0)</button>&nbsp;
                        <button (click)="goTosellerLogin()" type="button" class="btn btn-light"> <i class="bi bi-shop"></i></button>&nbsp;
                        <button type="button" class="btn btn-light"><i class="bi bi-three-dots-vertical"></i></button>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    <br/><br/>
