<br/><br/> 
<h5>To continue shopping for EasyBuy Fresh, <br/>& Happy Shopping.</h5>
<hr/>
<div class="grocery">
    <div class="row">
    
        <div class="col">
            <a (click)="goTovegetable()">
                <img src="assets/E-commerce Project images/vegetables-basket.jpg" height="180px" width="220px"> 
                <br/><b><u>Vegetables</u></b>
            </a>
        </div>
        
    
        <div class="col">
            <a (click)='goTodairyproduct()'>
                <img src="assets/E-commerce Project images/dairyproduct.png" height="180px" width="220px">
                <br/><b><u>DairyProduct & Egg</u></b>
            </a>
        </div>
        
    
        <div class="col">
            <a (click)='goTostaples()'>
                <img src="assets/E-commerce Project images/straples.png" height="180px" width="220px">
                <br/><b><u>Staples</u></b>
            </a>
        </div>
    </div> 
         

</div><br/> 
<hr/> 
<router-outlet></router-outlet>  