<br/>
<div class="grocery">
    <div class="row">
        <div class="col">
            <a routerLink="/grocery/vegetables">
                <img src="assets\E-commerce Project images\vegetables-basket.jpg" height="180px" width="220px"><br/>Vegetables</a>
        </div>
        <div class="col">
            <a routerLink="/grocery/dairyproducts">
            <img src="\assets\E-commerce Project images\dairyproduct.png"
             height="180px" width="220px">
             <br/>DairyProduct & Egg</a>
        </div>
        <div class="col">
            <a routerLink="/grocery/staples"> <img src="assets\E-commerce Project images\straples.png" height="180px" width="220px"><br/> Staples</a>
      
        </div>






  

</div>