<div class="container"><br/>
<h3>Login User<br/></h3>
<h4>Get access to your Orders,</h4>
<h4>Wishlist & Recommendation</h4>
<form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
  <label for="email"   class="form-label">Email ID:</label>
  <input type="email" formControlName="email" class="form-control" name="email" />
  <label for="password" class="form-label">Password:</label>
  <input type="password"formControlName="password" class="form-control" name="password" ><br/>
  <button type="submit" class="btn btn-warning form-control"><b><u> USER LOGIN</u></b></button>&nbsp;&nbsp;
  <a class="new" (click)="gotoRegistraion()"><b><u>New User Register ?</u></b></a><br/><br/>
  </form>
</div>