<footer>
    <div class="foot">
        <ul>
            <span>ABOUT</span><br />
            <li><a><b>About Us</b></a></li>
            <li><a><b>Careers</b></a></li>
            <li><a><b>EasyBuy Stroies</b></a></li>
            <li><a><b>Press</b></a></li>
            <li><a><b>Corporate Information</b></a></li>
        </ul>
        <ul>
            <span>GROUP COMPANIES</span><br />
            <li><a><b>Myntra</b></a></li>
            <li><a><b>Cleartrip</b></a></li>
            <li><a><b>Shopsy</b></a></li>
        </ul>
        <ul>
            <span>HELP</span><br />
            <li><a><b>Pyments</b></a></li>
            <li><a><b>Shipping</b></a></li>
            <li><a><b>Cancellation & Return</b></a></li>
            <li><a><b>FAQ</b></a></li>
            <li><a><b>Report Infringement</b></a></li>
        </ul>
    </div><br />
    <div class="foota">
        <ul>
            <span>CONSUMER POLICY</span><br />
            <li><a><b>Cancellation & Return</b></a></li>
            <li><a><b>Terms Of Use</b></a></li>
            <li><a><b>Security</b></a></li>
            <li><a><b>Privacy</b></a></li>
            <li><a><b>SiteMap</b></a></li>
            <li><a><b>Grieveance Redressal</b></a></li>
            <li><a><b>EPR Compaliance</b></a></li>
        </ul>
        <div class="font-size">
            <ul>
                <span>Mail Us :</span><br />
                <li><a>EasyBuy Internate Private Limited,</a></li>
                <li><a>Easybuy Company &</a></li>
                <li><a> 456 Elm Street, 456</a></li>
                <li><a> Suite 789,Fictional City,</a></li>
                <li><a>FC 12345</a></li>
                <li><a> Countryland</a></li>
            </ul>

            <ul class="social">
                <span>Social :</span><br />
                <i class="bi bi-facebook"></i>&nbsp;
                <i class="bi bi-twitter-x"></i>&nbsp;
                <i class="bi bi-youtube"></i>&nbsp;
        
            </ul>
       
            
        </div>
    
        <ul>
            <span>Register Office Address</span><br />
            <li><a> 456 Elm Street, 456 Suite 789,</a></li>
            <li><a> Fictional City,</a></li>
            <li><a>789 Commerce Blvd Building 12
                    FC 12345</a></li>
            <li><a> Fictional Town,FT 67890 Countryland</a></li>
            <li><a>CIN : U155B2252K29L1524O7891</a></li>
            <li><a>Telephone :<p> +022-5525355802</p> / <p>+91-259844521</p> </a></li>

        </ul>
    </div>
    <hr/>
    <div class="page">
        <ul class="end-page">
            <i class="bi bi-shop end"></i>&nbsp;<li>Become a Seller</li>
        </ul>
        <ul class="end-page">
            <i class="bi bi-megaphone end"></i>&nbsp;<li>Advertise</li>
        </ul>
        <ul class="end-page">
            <i class="bi bi-gift end"></i>&nbsp;<li>Gift Cards</li>
        </ul>
        <ul class="end-page">
            <i class="bi bi-question-circle end"></i>&nbsp;<li>Help Center</li>
        </ul>
        <ul class="end-page">
            <i class="bi bi-c-circle"></i>&nbsp;<li>2007-2024 EasyBuy.com</li>
        </ul>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
   <img src="\assets\E-commerce Project images\Visacard-removebg-preview.png"  width="40px" height="20px">&nbsp;
   <img src="\assets\E-commerce Project images\Mastercard.png"  width="40px" height="20px">&nbsp;        
   <img src="\assets\E-commerce Project images\Maestro-removebg-preview.png"  width="40px" height="20px">&nbsp;
   <img src="\assets\E-commerce Project images\discover.jpg"  width="40px" height="20px">&nbsp;
   <img src="\assets\E-commerce Project images\RuPay-removebg-preview.png"  width="40px" height="20px">&nbsp;
   <img src="\assets\E-commerce Project images\cashondelivery.jpg"  width="40px" height="20px">&nbsp;
   <img src="\assets\E-commerce Project images\online.png"  width="40px" height="20px">&nbsp;
   
</div>

</footer>

