
<h4>Dairy & Plant-Based Product <br/>Cheese
    Condensed & Powdered Milk</h4>
<div class="dairy-group">
    <div class="card top-n">
        <img src="\assets\E-commerce Project images\milk.avif" height="90px" width="125px">
       Amul Milk 70₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
      <!-------->
      <div class="card top-n">
        <img src="\assets\E-commerce Project images\amul-pure.jpg" height="90px" width="125px">
      Amul Pure ghee 400₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
<!----------------->

<div class="card top-n">
    <img src="\assets\E-commerce Project images\amulcool.jpg" height="90px" width="150px">
  Amul Cool 20₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!------------------>
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\amulgold.avif" height="90px" width="150px">
    Amul Gold 80₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!--------------------->
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\amulmasti.jpg"height="90px" width="150px">
Amul Lassi 25₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!-------------------->
  <div class="card top-n">
    <img src="\assets\E-commerce Project images\coffeemilk.jpg" height="90px" width="150px">
    Amul Cofee 30₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div><hr/>&nbsp;
</div>

<!------------------------2-------------------->
<hr/>
<div class="dairy-group">
    <div class="card top-n">
        <img src="\assets\E-commerce Project images\amrakhand.jpg" height="90px" width="125px">
       Amarakhand 150₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
      <!-------->
      <div class="card top-n">
        <img src="\assets\E-commerce Project images\dahi.jpg" height="90px" width="125px">
      Amul Dahi 50₹
    <div class="card-body">
        <button type="button" class="btn btn-outline-warning">add to cart</button>
    </div>
      </div>&nbsp;&nbsp;
<!----------------->

<div class="card top-m">
    <img src="\assets\E-commerce Project images\amul choclate.webp" height="90px" width="150px">
  Amul Choclate 150₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!------------------>
  <div class="card top-m">
    <img src="\assets\E-commerce Project images\butter.jpeg" height="90px" width="150px">
    Amul Butter 60₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!--------------------->
  <div class="card top-m">
    <img src="\assets\E-commerce Project images\cheese.webp"height="90px" width="150px">
Amul Cheese 125₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div>&nbsp;&nbsp;
  <!-------------------->
  <div class="card top-m">
    <img src="\assets\E-commerce Project images\dahi tiki.jpg" height="90px" width="150px">
   Dahi Tikki 230₹
<div class="card-body">
    <button type="button" class="btn btn-outline-warning">add to cart</button>
</div>
  </div><hr/>&nbsp;
</div>
