<div>
  &nbsp;<br/>
<h6>Mobiles Black Friday Sale</h6>
    <p>Mobile phones are no more merely a part of our lives. Whether it's to stay connected with friends and family or to keep abreast of important developments around the world, mobiles are no longer for sending a text or making a call. From budget to state-of-the-art smartphones; indigenous names to global big-wigs - a whole universe of mobiles await you on Flipkart. Whether you’re looking for waterdrop notch screens, a high screen to body ratio, AI-powered sensational cameras, high storage capacity, blazing quick processing 
        engines or reflective glass designs, rest assured you won’t
         have to venture anywhere else for your smartphone needs. 
         The information you are reading has been last updated on 26-Nov-24. </p>
<nav>
    <ul>
       |<li>iphone 15</li>&nbsp;|
        <li>iphone 16 </li>&nbsp;|
        <li>iphone 15 Plus</li>&nbsp;|
        <li>iphone 15 Pro</li>&nbsp;|
        <li>iphone 15 Pro Max</li>&nbsp;|
        <li>Vivo x 100</li>&nbsp;|
        <li>OPPO Find x8</li>&nbsp;|
        <li>Pixel 7a </li>&nbsp;|
        <li>Moto Edge 40 </li>&nbsp;|
        <li>POCO C55 </li>&nbsp;|
        <li>Xiaomi </li>&nbsp;|
        <li>Motorola </li>&nbsp;|
        <li>Nokia </li>&nbsp;|
       
    </ul>
</nav>

    <div>
        <img src="\assets\E-commerce Project images\bgimge.png" height="100%" width="100%">
    <div class="topimg"><img src="\assets\E-commerce Project images\slide.webp" height="138px" width="100%"></div>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="\assets\E-commerce Project images\img1.webp"  height="250px" width="100%">
              </div>
              <div class="carousel-item">
                <img src="\assets\E-commerce Project images\img3.webp" height="250px" width="100%">
              </div>
              <div class="carousel-item">
                <img src="\assets\E-commerce Project images\img2.webp" height="250px" width="100%">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span  class="visually-hidden">Next</span>
              </button>
          </div>&nbsp;
  <div class="staples-group padding">
  <div class="card"> 
<a (click)="img()"><img src="\assets\E-commerce Project images\mobile1.webp" height="160px" width="350px"></a>
&nbsp;&nbsp;
        <!-------->
        <a (click)="img()"><img src="\assets\E-commerce Project images\mobile4.webp" height="160px" width="350px"></a>       &nbsp;&nbsp;
        <a (click)="img()"><img src="\assets\E-commerce Project images\mobile5.webp" height="160px" width="350px"></a> 

  </div>
    </div>&nbsp;&nbsp;

    <!-----------2-->
    <div class="staples-group padding">
      <div class="card"> 
    <a (click)="img()"><img src="\assets\E-commerce Project images\mobile2.webp" height="160px" width="350px"></a>
    &nbsp;&nbsp;
            <!-------->
            <a (click)="img()"><img src="\assets\E-commerce Project images\mobile6.webp" height="160px" width="350px"></a>       &nbsp;&nbsp;
            <a (click)="img()"><img src="\assets\E-commerce Project images\mobile7.webp" height="160px" width="350px"></a> 
    
      </div>
        </div>&nbsp;&nbsp;
    <!-------3-->
    <div class="staples-group padding">
      <div class="card"> 
        <a (click)="img()">    <img src="\assets\E-commerce Project images\mobile3.webp" height="160px" width="350px"></a>
        &nbsp;&nbsp;
          
        <a (click)="img()"> <img src="\assets\E-commerce Project images\mobile8.webp" height="160px" width="350px"></a>
              &nbsp;&nbsp;
              <a (click)="img()">     <img src="\assets\E-commerce Project images\mobile9.webp" height="160px" width="350px"></a>

      </div>
        </div>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="\assets\E-commerce Project images\img4.webp"  height="250px" width="100%">
            </div>
            <div class="carousel-item">
              <img src="\assets\E-commerce Project images\img5.webp" height="250px" width="100%">
            </div>
            <div class="carousel-item">
              <img src="\assets\E-commerce Project images\img6.webp" height="250px" width="100%">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span  class="visually-hidden">Next</span>
            </button>
        </div>
</div>
<div>
<h6>  Mobile Phones- Buy mobile phones online at best prices in India</h6>
<p>Mobile phone, also called a cell phone owing to it using a cellular network architecture, have seen a tremendous growth in terms of technology and size over the years. On Flipkart, we have a diverse collection of iOS and Android mobiles ranging from basic mobiles, low-range and mid-range phones to very high-end smartphones that</p>
<ul>
  |<li>iphone 15</li>&nbsp;|
   <li>iphone 16 </li>&nbsp;|
   <li>iphone 15 Plus</li>&nbsp;|
   <li>iphone 15 Pro</li>&nbsp;|
   <li>iphone 15 Pro Max</li>&nbsp;|
   <li>Vivo x 100</li>&nbsp;|
   <li>OPPO Find x8</li>&nbsp;|
   <li>Pixel 7a </li>&nbsp;|
   <li>Moto Edge 40 </li>&nbsp;|
   <li>POCO C55 </li>&nbsp;|
   <li>Xiaomi </li>&nbsp;|
   <li>Motorola </li>&nbsp;|
   <li>Nokia </li>&nbsp;|
  
</ul>
</div>